<!doctype html>
<html lang="en">
  <head>
    <title>Snazzyfied Theme</title>
    <link href="css/theme.css" rel="stylesheet">
  </head>
  <body>
    <div class="row">
      <div class="column" style="flex: 400px">
        <h2>Background Colors</h2>
        <table class="colors">
          <tr>
            <th scope="colgroup">.defaultBackground</th>
            <td>
              <div>#282a36</div>
            </td>
          </tr>
          <tr>
            <th scope="colgroup">.darkerBackground</th>
            <td>
              <div class="darkerBackground defaultForeground">#21232d</div>
            </td>
          </tr>
          <tr>
            <th scope="colgroup">.darkestBackground</th>
            <td>
              <div class="darkestBackground defaultForeground">#16171d</div>
            </td>
          </tr>
        </table>
      </div>

      <div class="column">
        <h2>Demo</h2>
        <table class="demo">
          <tr>
            <td colspan="3" class="titleBar darkestBackground">Title Bar</td>
          </tr>
          <tr>
            <td class="activityBar darkestBackground">[ICON]</td>
            <td class="sideBar darkerBackground">Sidebar</td>
            <td class="editor defaultBackground">Editor area</td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>